body{
	background-image: url(Untitled-1.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	text-align: center;
	align-content: center;
}

h1{
	text-align: center;
	color: white;
	font-family: "Dekar", "Helvetica";
	font-size: 300%;
	margin-bottom: 0;
}

.hints{
	font-size: 200%;
	font-family: "Acid","Courier New"; 
	padding-left: 200px;
	padding-right: 200px;
	text-align: center;
	color: #bebebe;
}
.ready{
	text-align: center;
	color: white;
	font-family: "Impact", "Helvetica";
	font-size: 700%;
	margin-bottom: 0;

}
.buttons{
  background-color: #FF5733;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  font-family: "Segoe UI Black";
  border-radius: 12px;
  transition-duration: 0.4s;
}
.buttons:hover {
  background-color: white;
  color: black;
  border: 2px solid #FF5733;
}

.images{
	height: 10;
	width: 10;
}

.tables{
	position: absolute;
	left: 36%;

}